<h1>Education</h1>
<div class="container">
    <ng-container *ngFor="let education of educations">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{education.program}}</mat-card-title>
                <mat-card-subtitle>{{education.degree}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>
                        <mat-icon>business</mat-icon>
                        <span>{{education.institute}}</span>
                    </li>

                </ul>
                <ul>
                    <li>
                        <mat-icon>location_on</mat-icon>
                        <span>{{education.location}}</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <mat-icon>date_range</mat-icon>
                        <span>{{education.year}}</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>