.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    border: none;
    cursor: pointer;
    border: none;

    mat-card {
        width: 400px;
        border-left: 8px solid #1976D2;
        border-radius: 6px;
    }

}