table {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    border-radius: 10px;
    max-width: 1200px;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

}


td,
th {
    width: auto;
    border: 1px solid #ddd;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}