<h1>Experience</h1>
<mat-tab-group>
    <mat-tab *ngFor="let experience of experiences" label="{{experience.designation| uppercase}}">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{experience.designation}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-icon> business</mat-icon>
                    {{experience.company}}
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <mat-icon>location_on</mat-icon>
                    {{experience.location}}
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <mat-icon>date_range</mat-icon>
                    {{experience.startDate|DateToString}} - {{experience.endDate|DateToString}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li *ngFor="let description of experience.description">
                        {{description}}
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>