<h1>Projects</h1>
<div class="container">
    <ng-container *ngFor="let project of projects">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{project.name}}</mat-card-title>
            </mat-card-header>
              <mat-card-content>
                <article>{{project.description}}</article>
                <app-tags [tags]="project.tags"></app-tags>
            </mat-card-content>

            <span class="spacer"></span>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <a mat-button href="{{project.github}}">Github</a>
                <a mat-button href="{{project.demoUrl}}" color="accent" [disabled]="!project.demoUrl">Demo</a>
            </mat-card-actions>
      
        </mat-card>
    </ng-container>
</div>