.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
    max-width: 1600px;
    margin-top: 20px;
    margin-bottom: 20px;

    mat-card {
        border-left: 8px solid #1976D2;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        margin: 10px;
        width: 400px;
        border-radius: 10px;

        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    mat-card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 32px;
    }


    mat-card-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 32px;
        height: 30px;
        font-size: 1rem;
    }

    mat-divider {
        margin: 0 10px;
    }

}
