<h1>Projects</h1>
<div class="project-list">
    <mat-card class="project" *ngFor="let project of projects">
        <mat-card-header>
            <mat-card-title>{{project.name| uppercase}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button href="{{project.github}}">Github</a>
            <a mat-button href="{{project.demoUrl}}" color="accent" [disabled]="!project.demoUrl">Demo</a>
        </mat-card-actions>
        <mat-card-actions>
            <div class="tags">
                <span *ngFor="let tags of project.tags">{{tags}}</span>
            </div>
        </mat-card-actions>
        <mat-card-content>
            <p>{{project.description}}</p>
        </mat-card-content>

    </mat-card>
</div>