.tags-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;

    span {
        display: inline;
        margin: 5px;
        padding: 5px;
        height: 20px;
        text-transform: lowercase;
        border-radius: 5px;
        background-color: #ddd;
    }
}


.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    border: none;
    cursor: pointer;
    border: none;
}


.project {
    width: 300px;

    img {
        max-height: 300px;
    }
}


.spacer {
    flex: 1 1 auto;
}
