.tags {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e0e0;
}


project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    border: none;
    cursor: pointer;
    border: none;
}


.project {
    width: 400px;
}
