<h1>Skills</h1>
<div class="container">
    <div class="skill-card" *ngFor="let skill of skillsKeys()">
        <h2>{{skill}}</h2>
        <div class="outer">
            <ng-container *ngFor="let subSkill of skills[skill]">
                <div class="card">
                    <img matListItemAvatar src="{{subSkill.image}}" alt="logo of {{subSkill.name}}" />
                    <span matListItemTitle>{{subSkill.name}}</span>
                </div>
            </ng-container>
        </div>

    </div>
</div>