<h1>Skills</h1>
<div class="container">
    <ng-container *ngFor="let skill of skillsKeys()">
        <mat-card class="skill-card">
            <mat-card-header>
                <mat-card-title>{{skill}}</mat-card-title>
                <mat-divider></mat-divider>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of skills[skill]">
                        <span>{{skill}}</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>