<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>{{sidenav.open ? 'menu' :'close'}}</mat-icon>
  </button>
  <span>Umang Shrestha</span>
  <span class="spacer"></span>
  <button mat-stroked-button>
    <span>Download Resume</span>
    <mat-icon>download</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened class="mat-elevation-z8">
    <mat-nav-list>
      <mat-list-item (click)="scroll(home)"routerLinkActive="active">
        <fa-icon icon="home" matListItemIcon></fa-icon>
        <span matListItemTitle>Home</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(personalDetails)">
        <fa-icon icon="user" matListItemIcon></fa-icon>
        <span matListItemTitle>Personal Details</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(experience)">
        <fa-icon icon="briefcase" matListItemIcon></fa-icon>
        <span matListItemTitle>Experience</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(skills)">
        <fa-icon icon="tools" matListItemIcon></fa-icon>
        <span matListItemTitle>Skills</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(education)">
        <fa-icon icon="graduation-cap" matListItemIcon></fa-icon>
        <span matListItemTitle>Education</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(projects)">
        <fa-icon icon="project-diagram" matListItemIcon></fa-icon>
        <span matListItemTitle>Projects</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(contact)">
        <fa-icon icon="envelope" matListItemIcon></fa-icon>
        <span matListItemTitle>Contact</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <section  #education  class="mat-elevation-z8">
      <app-education></app-education>
    </section>
    <section #home class="mat-elevation-z8">
      <h1>Home</h1>
    </section>
    <section #personalDetails class="mat-elevation-z8">
      <app-personal-details></app-personal-details>
    </section>
    <section #experience class="mat-elevation-z8">
      <h1>Experience</h1>
    </section>
    <section #skills class="mat-elevation-z8">
      <h1>Skills</h1>
    </section>
    <section #contact class="mat-elevation-z8">
      <app-contact></app-contact>
    </section>
    <section #projects class="mat-elevation-z8">
      <h1>Projects</h1>
    </section>

   
    <footer>
      <a mat-button disabled>
        <mat-icon>copyright</mat-icon> 2022, <em>Umang Shrestha</em>
      </a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

