<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>{{sidenav.open ? 'menu' :'close'}}</mat-icon>
  </button>
  <span>Umang Shrestha</span>
  <span class="spacer"></span>
  <a mat-stroked-button href="/assets/resume.pdf" download="resume.pdf">
    <span>Download Resume</span>
    <mat-icon>download</mat-icon>
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened class="mat-elevation-z8">
    <mat-nav-list>
      <mat-list-item (click)="scroll(personalDetails)">
        <fa-icon icon="user" matListItemIcon></fa-icon>
        <span matListItemTitle>Personal Details</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(experience)">
        <fa-icon icon="briefcase" matListItemIcon></fa-icon>
        <span matListItemTitle>Experience</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(experience)">
        <fa-icon icon="tools" matListItemIcon></fa-icon>
        <span matListItemTitle>Skills</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(education)">
        <fa-icon icon="graduation-cap" matListItemIcon></fa-icon>
        <span matListItemTitle>Education</span>
      </mat-list-item>
      <mat-list-item (click)="scroll(projects)">
        <fa-icon icon="project-diagram" matListItemIcon></fa-icon>
        <span matListItemTitle>Projects</span>
      </mat-list-item>
    </mat-nav-list>
    <span class="spacer"></span>
  </mat-sidenav>

  <mat-sidenav-content>
      <main class="mat-elevation-z8">
        <section #personalDetails>
          <app-personal-details></app-personal-details>
        </section>

        <section #experience>
          <app-experience></app-experience>
        </section>
        <section #skills>
          <app-skills></app-skills>
        </section>

        <section #education>
          <app-education></app-education>
        </section>

        <section #projects>
          <app-projects></app-projects>
        </section>
      
      </main>

     <footer class="mat-elevation-z8">
      <a mat-button disabled>
        <mat-icon>copyright</mat-icon> 2022, <em>Umang Shrestha</em>
      </a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>