$annimation-duration: 0.5s;

mat-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 5vh;
    background-color: #002b5c;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    animation: ComeFromTop $annimation-duration linear;
}

@keyframes ComeFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

mat-sidenav {
    border-right: none;
    min-width: 160px;
    height: calc(100vh - 6vh);
    border-radius: 0 10px 10px 0;

    mat-list-item {
        height: 5vh;
        color: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

        &:nth-child(1) {
            border-radius: 10px 10px 0 0;
        }

        &:nth-last-child(1) {
            border-radius: 0 0 10px 10px;
        }
    }
}

mat-sidenav-content {
    height: 95vh;
    min-width: fit-content;
    animation: ZoomFromCenter $annimation-duration linear;
}


@keyframes ZoomFromCenter {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}



section {
    min-height: fit-content;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 32px;
}


@media screen and (max-width: 800px) {
    section {
        padding: 0;
    }


    footer {
        text-align: left;
        align-self: start;
    }

    #downloadWord {
        display: none;
    }
}


main {
    min-height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 5px;

}

footer {
    max-height: fit-content;
    text-align: center;
    margin: 5px 5px;
    align-items: center;
    height: 5vh;
    animation: ComeFromTop $annimation-duration linear;
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
    color: white;
}